<main class="main">
  <app-toolbar [title]="'Angular Coding Challenges'">
    <ul>
      <li
        routerLink=""
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Components
      </li>
      <li>Directives</li>
      <li>Services</li>
      <li>Pipes</li>
      <li>Other</li>
    </ul>
  </app-toolbar>
  <!-- <app-card
    [title]="'Card'"
    [subTitle]="'Components'"
    [iconClasses]="'fas fa-info-circle'"
  >
    <p body>Body Content</p>
    <p footer>Footer Content</p>
  </app-card>
  <app-accordion [items]="accordionData"></app-accordion>
  <app-progress-bar></app-progress-bar>
  <app-star-ratings [rating]="3.5"></app-star-ratings>
  <app-top-of-page></app-top-of-page> -->
</main>

<router-outlet />
